.portfolio__title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    mix-blend-mode: normal;
    margin: 0 0 50px 0;
}

.portfolio__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.portfolio__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 19px;
    box-sizing: border-box;
    border-bottom: 1px solid #E6E6E6;
}

.portfolio__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #000000;
    transition: .5s;
}

.portfolio__link:hover {
    opacity: .6;
}

.portfolio__arrow {
    background-image: url(../../images/portfolio_arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 29px;
    height: 60px;
    cursor: pointer;
    transition: .5s;
}

.portfolio__arrow:hover {
    opacity: .6;
}

@media screen and (max-width: 960px) {
    .portfolio__link {
        font-size: 28px;
        line-height: 50px;
    }

    .portfolio__arrow {
        width: 27px;
    }

}

@media screen and (max-width: 540px) {
    .portfolio__title {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 40px;
    }

    .portfolio__link {
        font-size: 18px;
        line-height: 28px;
    }

    .portfolio__arrow {
        width: 18px;
        height: 28px;
    }
}
