.register {
    max-width: 396px;
    padding-top: 70px;
    margin: auto;
}

.register__logo {
    background: url(../../images/logo_smile.svg) no-repeat center;
    width: 38px;
    height: 38px;
    margin-bottom: 40px;
    margin-bottom: 40px;
}

.register__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 40px;
}

.register__form {
    display: flex;
    flex-direction: column;
    gap: 69px;
}

.register__label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #A0A0A0;
}

.register__inputs {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}

.register__input {
    border: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 46px;
    color: #000000;
    background: #F9F9F9;
    border-radius: 8px;
    padding-left: 15px;
}

.register__submit {
    width: 100%;
    padding: 0;
    text-align: center;
    border: none;
    background: #3456F3;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 45px;
    color: #FFFFFF;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 16px;
}

.register__submit:hover {
    opacity: .6;
}

.register__entry-link {
    text-decoration: none;
    transition: .5s;

}

.register__entry-link:hover {
    opacity: .6;
}

.register__entry {
    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #A0A0A0;
}

.register__entry-span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #3456F3;
    margin-left: 6px;
}

@media screen and (max-width: 960px) {
    .register {
        padding-top: 232px;
    }

    .register__form {
        gap: 91px;
    }
}

@media screen and (max-width: 540px) {
    .register {
        padding: 56px 30px 0 30px;

    }

    .register__logo {
        margin: 0 auto 50px;
    }

    .register__title {
        text-align: center;
        margin-bottom: 80px;
    }

    .register__form {
        gap: 179px;
    }

    .register__submit {
        margin-bottom: 14px;
        font-size: 12px;
    }

    .register__entry {
        font-size: 12px;
        line-height: 15px;
    }

    .register__entry-span {
        margin-left: 7px;
    }
}
